<div class="page-header">
  <h1>
    Businesses
    <a href="/businesses/new" class="btn btn-lg btn-success">New Business</a>
  </h1>
</div>


<div class="row m-b-2">
  <div class="col-md-12">
    <div>
      <div id="location_map" style="height: 480px;"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Address</th>
        <th>Name</th>
        <th>Description</th>
        <th>Website</th>
        <th>Cover photo</th>
        <th>Ownership</th>
        <th>Actions</th>
      </tr>

      <% @businesses.each do |business| %>
      <tr>
        <td><%= business.address %></td>
        <td><%= business.name %></td>
        <td><%= business.description %></td>
        <td><%= business.website %></td>
        <td><img src='<%= business.cover_photo %>' class='img-responsive'></td>
        <td>
          <% if business.ownership.present? %>
            <a href="/ownerships/<%= business.ownership.id %>">
              <%= business.ownership.user_id %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/businesses/<%= business.id %>" class="btn btn-primary">Show</a>
          <a href="/businesses/<%= business.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_business/<%= business.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @businesses, theme: 'twitter-bootstrap-4' %>
  </div>
</div>

<script src="//maps.google.com/maps/api/js?v=3.24&key=AIzaSyCOTPWiuvyyo6sKoIBzKA4-1ol-vTOIOlM"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'location_map'}}, function(){
    markers = handler.addMarkers(<%= raw @location_hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>