<div class="page-header">
  <h1>
    Businesses
    <a href="/businesses/new" class="btn btn-lg btn-success">New Business</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Address</th>
        <th>Name</th>
        <th>Description</th>
        <th>Website</th>
        <th>Cover photo</th>
        <th>Ownership</th>
        <th>Actions</th>
      </tr>

      <% @businesses.each do |business| %>
      <tr>
        <td><%= business.address %></td>
        <td><%= business.name %></td>
        <td><%= business.description %></td>
        <td><%= business.website %></td>
        <td><img src='<%= business.cover_photo %>' class='img-responsive'></td>
        <td><%= business.ownership.user_id %></td>
        <td>
          <a href="/businesses/<%= business.id %>" class="btn btn-primary">Show</a>
          <a href="/businesses/<%= business.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_business/<%= business.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
