<div class="page-header">
  <h3>Business #<%= @business.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Address</dt>
      <dd><%= @business.address %></dd>

      <dt>Name</dt>
      <dd><%= @business.name %></dd>

      <dt>Description</dt>
      <dd><%= @business.description %></dd>

      <dt>Website</dt>
      <dd><%= @business.website %></dd>

      <dt>Cover photo</dt>
      <dd><img src="<%= @business.cover_photo %>" class="img-responsive"></dd>

      <dt>Ownership</dt>
      <dd><%= @business.ownership_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/businesses" class="btn btn-primary">
        Back
      </a>
      <a href="/businesses/<%= @business.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_business/<%= @business.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Business has many cuisines -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Cuisines
      </li>

      <% @business.cuisines.each do |cuisine| %>
        <li class="list-group-item">
          <a href="/cuisines/<%= cuisine.id %>">
            <%= cuisine.tag_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/cuisines/<%= cuisine.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/cuisines/<%= cuisine.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_cuisine/<%= cuisine.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Business has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @business.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.comment %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reviews/<%= review.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Business has many tags -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tags
      </li>

      <% @business.tags.each do |tag| %>
        <li class="list-group-item">
          <a href="/tags/<%= tag.id %>">
            <%= tag.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/tags/<%= tag.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/tags/<%= tag.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_tag/<%= tag.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
